
<div class="page">
    <ui-subpage :title="isNew ? 'create product' : 'edit product'">
        <div slot="body">

            <!-- navbar -->
            <nav class="navbar navbar-default">
                <ul class="nav navbar-nav">
                    <li><a v-link="{path: '/products/list'}"><i class="glyphicon glyphicon-th-list"></i> list</a></li>
                </ul>
            </nav>
            <!-- navbar -->

            <!-- panel -->
            <div class="panel panel-default">

                <div class="panel-heading">
                    <span>Product information</span>
                </div>
                <div class="panel-body">
                    <!-- form -->
                    <form class="form-horizontal">
                        <input type="hidden" v-model="model.id">

                        <!-- form-group -->
                        <div class="form-group" v-if="!isNew">
                            <label for="field-id" class="col-lg-2 control-label">ID</label>
                            <div class="col-lg-4">
                                <input id="field-id" type="text" class="form-control" :readonly="true" v-model="model.id">
                            </div>
                        </div>
                        <!-- form-group -->

                        <!-- form-group -->
                        <div class="form-group" v-if="!isNew">
                            <label for="field-date" class="col-lg-2 control-label">created date</label>
                            <div class="col-lg-4">
                                <input id="field-date" type="text" class="form-control" :readonly="true" v-model="model.date">
                            </div>
                        </div>
                        <!-- form-group -->

                        <!-- form-group -->
                        <div class="form-group">
                            <label for="field-name" class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-4">
                                <input id="field-name" type="text" class="form-control" placeholder="Name"  v-model="model.name">
                            </div>
                        </div>
                        <!-- form-group -->

                        <!-- form-group -->
                        <div class="form-group">
                            <label for="field-model" class="col-lg-2 control-label">Model</label>
                            <div class="col-lg-4">
                                <input id="field-model" type="text" class="form-control" placeholder="Model"  v-model="model.model">
                            </div>
                        </div>
                        <!-- form-group -->

                        <!-- form-group -->
                        <div class="form-group">
                            <label for="field-size" class="col-lg-2 control-label">Size</label>
                            <div class="col-lg-4">
                                <input id="field-size" type="text" class="form-control" placeholder="Size"  v-model="model.size">
                            </div>
                        </div>
                        <!-- form-group -->

                        <!-- form-group -->
                        <div class="form-group">
                            <label for="field-color" class="col-lg-2 control-label">Color</label>
                            <div class="col-lg-4">
                                <input id="field-color" type="text" class="form-control" placeholder="Color"  v-model="model.color">
                            </div>
                        </div>
                        <!-- form-group -->

                        <!-- form-group -->
                        <div class="form-group">
                            <label for="field-cover" class="col-lg-2 control-label">Cover Image</label>
                            <div class="col-lg-4">
                                error
                            </div>
                        </div>
                        <!-- form-group -->

                        <!-- form-group -->
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-8">
                                <button type="submit" class="btn btn-primary" @click.prevent="submit($event)"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
                            </div>
                        </div>
                        <!-- form-group -->
                    </form>
                    <!-- form -->
                </div>
            </div>
            <!-- panel -->
        </div>
    </ui-subpage>
</div>
