
<div class="page">
    <ui-subpage :title="isNew ? 'create product' : 'edit product'">
        <div slot="body">

            <!-- navbar -->
            <nav class="navbar navbar-default">
                <ul class="nav navbar-nav">
                    <li><a v-link="{path: '/products/list'}"><i class="glyphicon glyphicon-th-list"></i> list</a></li>
                </ul>
            </nav>
            <!-- navbar -->

            <div class="row">
                <div class="col-md-8">
                    <!-- panel -->
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <span>Product information</span>
                        </div>
                        <div class="panel-body">
                            <!-- form -->
                            <form class="form-horizontal">
                                <input type="hidden" v-model="model.id">

                                <!-- form-group -->
                                <div class="form-group" v-if="!isNew">
                                    <label for="field-id" class="col-lg-2 control-label">ID</label>
                                    <div class="col-lg-4">
                                        <input id="field-id" type="text" class="form-control" :readonly="true" v-model="model.id">
                                    </div>
                                </div>
                                <!-- form-group -->

                                <!-- form-group -->
                                <div class="form-group" v-if="!isNew">
                                    <label for="field-date" class="col-lg-2 control-label">created date</label>
                                    <div class="col-lg-4">
                                        <input id="field-date" type="text" class="form-control" :readonly="true" v-model="model.date">
                                    </div>
                                </div>
                                <!-- form-group -->

                                <!-- form-group -->
                                <div class="form-group">
                                    <label for="field-name" class="col-lg-2 control-label">Name</label>
                                    <div class="col-lg-4">
                                        <input id="field-name" type="text" class="form-control" placeholder="Name"  v-model="model.name">
                                    </div>
                                </div>
                                <!-- form-group -->

                                <!-- form-group -->
                                <div class="form-group">
                                    <label for="field-model" class="col-lg-2 control-label">Model</label>
                                    <div class="col-lg-4">
                                        <input id="field-model" type="text" class="form-control" placeholder="Model"  v-model="model.model">
                                    </div>
                                </div>
                                <!-- form-group -->

                                <!-- form-group -->
                                <div class="form-group">
                                    <label for="field-size" class="col-lg-2 control-label">Size</label>
                                    <div class="col-lg-4">
                                        <input id="field-size" type="text" class="form-control" placeholder="Size"  v-model="model.size">
                                    </div>
                                </div>
                                <!-- form-group -->

                                <!-- form-group -->
                                <div class="form-group">
                                    <label for="field-color" class="col-lg-2 control-label">Color</label>
                                    <div class="col-lg-4">
                                        <input id="field-color" type="text" class="form-control" placeholder="Color"  v-model="model.color">
                                    </div>
                                </div>
                                <!-- form-group -->
                            </form>
                            <!-- form -->
                        </div>
                    </div>
                    <!-- panel -->

                    <!-- panel -->
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <span>Product photos</span>
                        </div>
                        <div class="panel-body">
                            <ui-mm-picker v-on:fetch.mm="fetch"
                                          v-on:pick.mm="pick">
                            </ui-mm-picker>

                            <!-- row -->
                            <div class="row">
                                <div class="col-md-2" v-for="photo in model.photos" track-by="$index">
                                    <div class="square-container">
                                        <div class="square-container_inner">
                                            <img class="square-container_img" :src="photo.url" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- row -->

                        </div>
                    </div>
                    <!-- panel -->
                </div>
                <div class="col-md-4">

                    <!-- panel -->
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <span>publish</span>
                        </div>
                        <div class="panel-body">
                            <button type="submit" class="btn btn-primary" @click.prevent="submit($event)"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
                        </div>
                    </div>
                    <!-- panel -->
                    
                </div>
            </div>
        </div>
    </ui-subpage>
</div>
