<nav class="ui-pager">
    <ul class="pagination">
        <li :class="{'disabled': current == 1}">
            <a href="#" @click.prevent="paginate(1)">
                <span>&laquo;</span>
            </a>
        </li>
        <li v-for="idx in pages" :class="{'active': (current == (idx + 1))}">
            <a  href="#" @click.prevent="paginate(idx + 1)">{{idx + 1}}</a>
        </li>
        <li :class="{'disabled': current == pages}">
            <a href="#" @click.prevent="paginate(pages)">
                <span>&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
